*{
  background: black;

}


.input{
 border-radius :  50px;
 border: solid red;
 padding: 50px;
 margin: 20px;
 
}

select option{
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}
.select1{
  margin-bottom: -10px;
}
button{
  background-image: url(../public/exchange.png);
  background-size: cover;
  background-position:center;
  border-radius: 100%;
   width: 30px;
   height: 30px;
   margin: 0px 42%;
   
}
.select2{
  margin-top: -10px;
}
.score{
  border-radius: 50px;
  padding: 40px;
  margin: 10px;
}
